<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Osefa Developers Ltd & Developers  : Create Account </title>


</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Osefa Developers Ltd & Developers Company Sign In Form </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css">
    <link href="{{url_for('static' , filename='assets/css/auth.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static' , filename='assets/css/all.min.css')}}" rel="stylesheet">


</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="logo"> Osefa <span> Homes </span></div>
                <input type="checkbox" name="" id="click">
                <label for="click" class="menu-btn">
                    <i class="material-icons">menu</i>
                </label>
                <ul>
                    <li><a href="{{url_for('Home')}}" class="active">Home</a></li>
                    <li><a href="{{url_for('Auth')}}"> Sign In </a></li>
                    <li><a href="{{url_for('Home')}}">About</a></li>
                    <li><a href="{{url_for('Home')}}"> Services </a></li>
                    <li><a href="{{url_for('Home')}}"> Portfolio </a></li>
                    <li><a href="{{url_for('Contact')}}">Feedback</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container">
            <div class="row full-screen align-items-center">
                <div class="left">
                    <span class="line"></span>
                    <h2> <span> Osefa Developers Ltd: </span> Building dreams from the ground up.  . </h2>
                    <p> Welcome . Proceed to your account by signing in ... </p>
                     <a href="{{url_for('Contact')}}" class="btn">Contact</a>

                    <div class="social-media">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="right">
                    <div class="form">
                        <div class="text-center">
                            <h6><a href="{{url_for('Auth')}}"><span>Log In</span>  </a> <a href="{{url_for('CreateAccount')}}"><span>Sign Up</span></a></h6>
                           
                            <label for="reg-log"></label>
                            <div class="card-3d-wrap">
                                <div class="card-3d-wrapper">
                                  <form class="mt-6" action="{{url_for('CreateAccount')}}" method="POST">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <h4 class="heading"> Create An Account With {{CompanyID}} </h4>
                                            <div class="form-group shadow ">
                                              <input type="text" class="form-style shadow" placeholder="Account Token" autocomplete="off"  name="Token" value="{{UID}}" readonly required >
                                              <i class="input-icon material-icons shadow">alternate_email</i>
                                          </div>
                                          <div class="form-group">
                                            <input type="email" class="form-style" placeholder="Provide your Email Address " autocomplete="off"  name="Email" autofocus required >
                                            <i class="input-icon material-icons">alternate_email</i>
                                        </div>
                                        <div class="form-group">
                                          <input type="text" class="form-style" placeholder="Provide your FullName " autocomplete="off"  name="fullname" rautofocus equired >
                                          <i class="input-icon material-icons">alternate_email</i>
                                      </div>
                                      <div class="form-group">
                                        <input type="text" class="form-style" placeholder="Provide your Phone Contact" autocomplete="off"  name="Contact" autofocus minlength="10"  required >
                                        <i class="input-icon material-icons">alternate_email</i>
                                    </div>


                                            <div class="form-group">
                                                <input type="password" class="form-style" placeholder="Provide Your Account Password " autocomplete="off" name="Credentials" minlength="6" required> 
                                                <i class="input-icon material-icons">lock</i>
                                            </div>


                                            <div class="form-group shadow" >
                                              <input type="text" class="form-style shadow" placeholder="Date Time Provider " autocomplete="off" name="Date"  value={{CreationDate}} readonly autofocus required> 
                                              <i class="input-icon material-icons shadow">lock</i>
                                          </div>


                                          <div class="form-group shadow" >
                                            <input type="text" class="form-style shadow" placeholder="Time Date Provider" autocomplete="off" name="Time"  value="{{CreationTime}}" readonly autofocus required> 
                                            <i class="input-icon material-icons shadow">lock</i>
                                        </div>

                                        <div class="form-group shadow" >
                                          <input type="text" class="form-style shadow" placeholder="Account Type Provider" autocomplete="off" name="AccountType" value="Standard"  readonly required> 
                                          <i class="input-icon material-icons shadow">lock</i>
                                      </div>

                                            <button class="btn" type="submit">Sign Up</button>
                                            {% if Flag %}
                                            <p class="text-center"><a href="#" class="link">Forgot your password?</a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    </form>

                                 
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<!-- partial -->
  
</body>
</html>
